<ul class="navbar nav aside-panel">

    <li>
        <img src="~/Content/Images/logo-uni.png" alt="Logo" class="img-responsive img-rounded img-logo" style="height:200px;">
        <a href="@Url.Action("index", "Dashboard")">
            <i class="glyphicon glyphicon-dashboard"></i>
            داشبورد
        </a>
    </li>

    <li data-toggle="collapse" data-target="#sub-menu-site">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت داده
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel " id="sub-menu-site">
            <li>
                <a href="@Url.Action("Index", "Log")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست داده های خام
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Vistor")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست بازدیدکنندگان
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "IPAddress")">
                    <i class="glyphicon glyphicon-book"></i>
                    IP Address
                </a>
            </li>


            @*<li>
            <a href="#">
                <i class="glyphicon glyphicon-book"></i>
                شرکت کننده در نظرسنجی
            </a>
        </li>

        <li>
            <a href="#">
                <i class="glyphicon glyphicon-book"></i>
                شرکت نکرده در نظرسنجی
            </a>
        </li>*@

        </ul>

    </li>

    @*<li>
            <a href="@Url.Action("Excel", "File")">
                <i class="glyphicon glyphicon-list"></i>
                فایل
            </a>
        </li>*@

    <li>
        <a href="#">
            <i class="glyphicon glyphicon-book"></i>
            گزارشات
        </a>

    </li>

    <li>
        <a href="@Url.Action("index","Setting")">
            <i class="glyphicon glyphicon-book"></i>
            تنظیمات سامانه
        </a>

    </li>

</ul>
